/*---

  theme by sneha <3
  created summer 2022.
  icons by phosphor icons >> https://phosphoricons.com/
  font: Rajdhani by Indian Type Foundry via Google Fonts >>https://fonts.google.com/specimen/Rajdhani

---*/

/*---BASIC STYLE OPTIONS---*/
:root{
  --textcolor:#1d1d1d;
  --bgcolor:#fcfafc;
  --wallpaper:#ccc;
  --accent1:#FF59A1;
  --accent2:#5C7AFF;
  --bordercolor:#1d1d1d;
}

::selection{
    color:var(--bgcolor);
    background-color:var(--textcolor);
  }


 *{
   box-sizing:border-box;
 }

 html,body{overflow-y:scroll; }

body{
  display:inline;
  font-family:"Rajdhani", sans-serif;
  font-weight:bold;
  font-size:15px;
  color:var(--textcolor);
  background-color: var(--wallpaper);
  line-height:170%;
  word-wrap:break-word;
  letter-spacing:0.04em;
  margin-top:0px;
  margin:0;
  padding:0;
}

i{
  font-size:18px;
  vertical-align:-0.25em;
}

img{
  max-width:100%;
  border:2px solid;
  border-radius:3px;
}

a{
  color:var(--accent1);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
   transition: all 0.15s;
}

a:hover{
  color:var(--accent2);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
   transition: all 0.15s;
}


.left-sidebar{
  display:inline-block;
  position:fixed;
  margin-left:20%;
  margin-top:5%;
  width:10%;
  border:2px solid;
  border-color:var(bordercolor);
  border-radius:3px;
  background-color:var(--bgcolor);
  padding:0px 0px 0.25% 0px;
  text-align:center;
}

.left-sidebar img{
  width:100%;
  border:2px solid;
}


.left-sidebar a{
  width:100%;
  text-transform:capitalize;
  font-size:1.1em;
  font-weight:bold;
  line-height:250%;
  margin-top:3%;
  border:2px solid;
  border-radius:3px;
  background-color:var(--textcolor);
  border-color:var(--bordercolor);
  color:var(--bgcolor);
  text-decoration:none;
  display:inline-block;
  padding:0 0 0 0;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.left-sidebar a:hover{
  border-color:var(--bordercolor);
  color:var(--textcolor);
  background-color:var(--bgcolor);
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -ms-transition: all 0.15s;
  -o-transition: all 0.15s;
   transition: all 0.15s;
}

.scrolling{
  display:block;
  position:absolute;
  margin-left:32%;
  margin-top:5%;
  margin-right:32%;
  width:36%;
  height:100%;
  vertical-align:top;
}

.browser{
  display:inline-block;
  position:relative;
  width:100%;
  margin-bottom:30px;
  border:2px solid;
  border-radius:3px;
  text-align:justify;
  background-color:var(--bgcolor);
  padding:0px 0px 1% 0px;
}

.right-sidebar{
  display:inline-block;
  position:fixed;
  margin-left:70%;
  margin-right:10%;
  margin-top:5%;
  width:20%;
  text-align:left;
}

.box{
  border:2px solid;
  border-color:var(bordercolor);
  border-radius:3px;
  background-color:var(--bgcolor);
  padding:0px 0px 3% 0px;
  margin-bottom:3%;
  margin-top:0;
  font-weight: bold;
}


.controls{
  text-align:right;
  font-size:0.75em;
  width:100%;
  border-bottom:2px solid;
  margin-bottom:3%;
  background-color:var(--textcolor);
  color:var(--bgcolor);
}

.controls i, .content i, .browser-bar i{
  padding-left:0;
}

.content{
  margin-left:3%;
  margin-right:3%;
  margin-top:3%;
}

.column-1{
  vertical-align: top;
  display:inline-block;
  position:relative;
  width:47%;
  margin-right:2%;
  margin-left:1%;
  text-align:justify;
  padding:0px 0px 1% 0px;
}

.column-2{
  display:inline-block;
  position:relative;
  width:47%;
  margin-right:0%;
  margin-left:2%;
  text-align:justify;
  padding:0px 0px 1% 0px;
}
